doctype html
html
    head
        meta(charset="UTF-8")
        title test
        - include 'meta.php'
        link(rel="stylesheet", href="stylesheets/style.css")

    body
        ul.row.test.align-middle
            li.column.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum earum dolor, maiores natus eum maxime soluta, ex neque corporis voluptate.
            li.column 123
            li.column 456

        - $i = 5;
        - while($i--):
            .row
                .column= $i
        - endwhile


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")