@charset "utf-8";
/* CSS Document */

 li{
    position:  relative;
  }
  .inputarea .login-input-text{
    display: inline-block;
    color: #000;
  }
  input#captcha {
    width: 150px;
    border: 1px solid #666;
  }
  .checkNumImg{
    text-align: right;
    margin-top: 15px;
    font-size: 12px;
  }
  .reCheckNumData{
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
  }
  .reload-img img{
    margin-bottom: 0 !important;
  }
  label.error{
    position: absolute;
    left: 102%;
    top: 0;
    width: 160px;
    display: inline-block;
    text-align: left;
    font-size: 12px;
    color: #BF1733;
    font-family: Arial,Helvetica,Sans-Serif;
  }
  input.error{
    border-color: #BF1733 !important;
  }

  .inputarea{
    position: relative;
  }
  #hiddenRecaptcha-error{
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
  }