@charset "utf-8";
/* CSS Document */


form .inputarea.captchaGroup{
	height: 105px !important;
}
#captcha{
	width: 85px;
	padding: 0 5px;
}

#captchaTitle{
	display: inline-block;
	margin: 0 10px;
	line-height: 37px;
}
.checkNumData{
	display: inline-block;
}

.checkNumImg{
	display: block;
	margin-top: 5px;
}
.reCheckNumData{
}
.checkNumImg a,.reCheckNumData a{
	display: inline-block;
	color: #a5a5a5;
}
.checkNumImg a:hover,.reCheckNumData a:hover{
	color: #4c4c4c;
}

.checkNumImg img{
	border: 1px solid #9E9E9E;
}

.cake-reservation-warp #cake-reservation-section .error-alert.alert{
	bottom: 475px;
}
.reservation-container .error-alert.alert{
	bottom: 490px;
}
.reservation-container .error-alert2.alert{
	bottom: 450px;
}

.inputarea label.error{
	display: block;
	float: none;
	margin-left: 10px;
	margin-top: 0;
}